---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}

<ul style="list-style-type: none; padding-left: 0;">
    <li>
        [1] <b>Ning Liu*</b> and Z. C. Tu, Dynamics of momentum distribution and structure factor in a weakly interacting Bose gas with a periodical modulation. 
        <i><span style="color: blue;">Communications in Theoretical Physics</span></i> 72, 125501 (2020).
    </li>
    <li>
        [2] <b>Ning Liu*</b> and Z. C. Tu. Polarons in binary Bose-Einstein condensates. 
        <i><span style="color: blue;">Journal of Statistical Mechanics: Theory and Experiment</span></i> 2023.9. 093101(2023).
    </li>
    <li>
        [3] <b>Ning Liu*</b>. Weak and strong coupling polarons in binary Bose-Einstein condensates.  
        <i><span style="color: blue;">Physica Scripta</span></i> 99 095412 (2024).
    </li>
    <li>
        [4] Lu Chen, Baopi Liu, <b>Ning Liu*</b>. Phase behaviors and dynamics of active particle systems in double-well potential. 
        <i><span style="color: blue;">Physica A: Statistical Mechanics and its Applications</span></i> (2025).
    </li>
    <li>
        [5] <b>刘宁*</b>. 论向心力概念的发展. 
        <i><span style="color: blue;">大学物理</span></i> 42.2. 32 (2023).
    </li>
    <li>
        [6] <b>刘宁*</b>. 力学定律的发展：积分和微分定律的视角 
        <i><span style="color: blue;">大学物理</span></i> (2025).
    </li>
</ul>

