---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}


[1] Ning Liu* and Z. C. Tu, Dynamics of momentum distribution and structure factor in a weakly interacting Bose gas with a periodical modulation. *<font color=Blue>Communications in Theoretical Physics</font>* 72, 125501 (2020).

[2] Ning Liu* and Z. C. Tu. Polarons in binary Bose-Einstein condensates. *<font color=Blue>Journal of Statistical Mechanics: Theory and Experiment</font>* 2023.9. 093101(2023).

[3] Ning Liu*. Weak and strong coupling polarons in binary Bose-Einstein condensates. *<font color=Blue>Physica Scripta</font>* 99 095412 (2024).

[4] Lu Chen, Baopi Liu, Ning Liu*. Phase behaviors and dynamics of active particle systems in double-well potential. *<font color=Blue>Physica A: Statistical Mechanics and its Applications</font>*  (2025).

[5] 刘宁*. 论向心力概念的发展. *<font color=Blue> 大学物理</font>* 42.2. 32 (2023).

[6] 刘宁*. 力学定律的发展：积分和微分定律的视角 *<font color=Blue>大学物理</font>* (2025).





