---
layout: archive
title: "感悟日历"
permalink: /thought/
author_profile: true
---
<ul>
  <li>2025年4月25日：从晚上9点多写到凌晨1点多，关于麦克斯韦如何发现麦克斯韦方程组的，大概写了3000字，上一篇类似的文章是写开普勒如何发现开普勒三大定律的，也写了2600多字，
    之后如果有时间的话，还可以多写一些，出成一本书。当然文字还需要精炼，还需要仔细修改。</li>
<li>2025年4月24日：在多年前，我在读一些力学教材包括一些非常古老的力学文献的时候就发现一件事情，
  关于力学当中的变分原理写到赫兹之后突然就断掉了，就是赫兹的最小曲率原理。这让我十分困惑，难道没有新的发展吗？
按道理来说应该是有的，但是也不知道为什么没有多少人提及后来的工作。</li>
</ul>
{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
